<!-- En gestionClinica/templates/inicio.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Clínica Médica de Lautaro</h1>
    <div>
        <a href="{% url 'insertar_paciente' %}">Insertar Paciente</a>
        <a href="{% url 'insertar_medico' %}">Insertar Médico</a>
        <a href="{% url 'insertar_cita' %}">Insertar Cita</a>
        <a href="{% url 'buscar_pacientes' %}">Buscar Pacientes</a>
    </div>
</body>
</html>
